body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
}

.page-loading {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    align-items: center;
    justify-content: center;
    // backdrop-filter: blur(12px);
    background: #ffffff99;
}

.overflow-hidden {
    overflow-y: hidden;
}

.container {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    position: relative;

    @media (max-width: 1920px) {
        margin-right: 0;
        margin-left: 0;
        max-width: calc(100%);
    }

    @media (max-width: 762px) {
        margin-right: 0;
        margin-left: 0;
        max-width: calc(100%);
    }
}

.page-container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    position: relative;

    @media (max-width: 1440px) {
        margin-right: 0;
        margin-left: 0;
        max-width: calc(100%);
    }

    @media (max-width: 762px) {
        margin-right: 0;
        margin-left: 0;
        max-width: calc(100%);
    }
}

.social-link {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 50px;
        transition: all 0.3s;

        @media (max-width: 576px) {
            height: 30px;
        }
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        img {
            filter: brightness(0.8);
        }
    }
}

main {
    background-color: $back-color;
    min-height: calc(100vh);

    @media (max-width: 992px) {
        padding-bottom: 80px;
    }
}

button {
    cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col-12 {
    width: calc(100% - 40px);
    margin-right: 20px;
    margin-left: 20px;

    @media (max-width: 992px) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

.col-half {
    width: calc(50% - 40px);
    margin-right: 20px;
    margin-left: 20px;

    @media (max-width: 992px) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

.col-3 {
    width: calc(25% - 30px);
    margin-right: 15px;
    margin-left: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.pb-80 {
    padding-bottom: 80px;
}

//========= LOGIN PAGE =============//
.login-page {
    position: relative;
    height: 100vh;
    overflow: hidden;
    img.login-bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 1;
    }
    img.login-guys {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: 2;
    }
}

.login-box {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 3;
    text-align: center;
    width: 260px;
    img.login-logo {
        margin: 24px auto;
    }
    .logo-text {
        padding: 24px;
        background: rgba(31, 31, 31, 0.5);
        backdrop-filter: blur(3px);
        border-radius: 24px;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.wallet-connect {
    background: rgba(31, 31, 31, 0.5);
    backdrop-filter: blur(3px);
    border-radius: 24px;
    margin-bottom: 24px;
    padding: 24px;
    .btn-wallet {
        padding: 12px 12px 12px 12px;
        border: 1px solid rgba(255, 255, 255, 0.34);
        border-radius: 16px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            font-size: 15px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #ffffff;
            margin-left: 8px;
        }
    }
}
