.fusion-page {
    margin-right: 24px;
    margin-left: 24px;
    padding-bottom: 120px;
}

.nft-linst-box {
    margin-top: 24px;
    padding: 24px;
    border-radius: 24px;

    h3 {
        font-family: "Oxanium";
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 143%;
        letter-spacing: 1px;
        color: #ffffff;
        text-transform: capitalize;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin-top: 12px;
    }
}

.empty-fusion-card {
    width: 164px;
    height: 164px;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
    }

    &:hover {
        .card-overview {
            opacity: 1;
            transition: all 0.2s;

            &.image {
                background-color: #000000a8;
            }
        }
    }
}

.card-overview {
    background-color: #383838;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 16px;
    width: 164px;
    height: 164px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.2s;

    span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-family: "Oxanium";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 160%;
        text-align: center;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 0.6);
        bottom: 24px;
        white-space: nowrap;
    }
}

.fusion-edit-page {
    margin-right: 24px;
    margin-left: 24px;

    .content {
        display: flex;

        .attributes {
            display: flex;
            gap: 4px;
            width: calc(100% - 590px);
            height: 566px;
            margin-right: 24px;

            .kind {
                width: calc(50% - 2px);
                padding: 24px;
                background-color: #1f1f1f;
                border-radius: 24px;

                ul {
                    list-style: none;
                    margin-top: 4px;

                    li {
                        margin-bottom: 4px;
                        font-family: "Oxanium";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 143%;
                        letter-spacing: 1px;
                        color: #ffffff;
                        padding: 16px 24px;
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        position: relative;

                        &:hover {
                            background: rgba(255, 255, 255, 0.16);
                        }

                        &.selected {
                            background: rgba(255, 255, 255, 0.06);
                        }

                        &.activated {
                            &::after {
                                position: absolute;
                                right: 24px;
                                content: "";
                                width: 4px;
                                height: 4px;
                                border-radius: 50%;
                                background-color: #4af497;
                            }
                        }
                    }
                }
            }

            .options {
                width: calc(50% - 2px);
                padding: 24px;
                background-color: #1f1f1f;
                border-radius: 24px;

                .option-header {
                    position: relative;
                }

                .option-list {
                    overflow-y: auto;
                    height: 460px;

                    &::-webkit-scrollbar {
                        width: 4px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: #ffffff52;
                        border-radius: 4px;
                    }

                    &::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 5px #ffffff27;
                        border-radius: 10px;
                    }

                    ul {
                        li.option-item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 16px 24px;
                            margin-bottom: 4px;
                            border-radius: 50px;
                            cursor: pointer;

                            .title {
                                font-family: "Oxanium";
                                font-style: normal;
                                font-weight: 500;
                                font-size: 17px;
                                line-height: 143%;
                                letter-spacing: 1px;
                                color: #ffffff;
                                text-transform: capitalize;
                            }

                            p.points {
                                font-family: "Oxanium";
                                font-style: normal;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 165%;
                                text-align: right;
                                letter-spacing: 0.02em;
                                color: rgba(255, 255, 255, 0.6);
                                text-transform: capitalize;

                                span {
                                    margin-right: 6px;

                                    &.common {
                                        color: #eeeeee;
                                    }

                                    &.universal {
                                        color: #a5d6a7;
                                    }

                                    &.rare {
                                        color: #81d4fa;
                                    }

                                    &.first_class {
                                        color: #b39ddb;
                                    }

                                    &.transendental {
                                        color: #ffcc80;
                                    }
                                }
                            }

                            &.current {
                                border: 1px solid rgba(255, 255, 255, 0.16);
                                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                                backdrop-filter: blur(18px);
                                border-radius: 50px;
                            }

                            &.selected {
                                p.points {
                                    position: relative;
                                    padding-right: 24px;

                                    .selected-dot {
                                        content: "";
                                        position: absolute;
                                        width: 8px;
                                        height: 8px;
                                        border-radius: 50%;
                                        background-color: #4af497;
                                        top: calc(50% - 6px);
                                        right: 0;
                                    }
                                }
                            }

                            &:hover {
                                background: rgba(255, 255, 255, 0.06);
                            }
                        }
                    }
                }
            }

            h4 {
                font-family: "Oxanium";
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 160%;
                letter-spacing: 1px;
                color: rgba(255, 255, 255, 0.6);
                padding: 16px 24px;
            }
        }

        .fusion-edit-card {
            width: 566px;
            height: 566px;
            background-color: #292929;
            border-radius: 24px;
            position: relative;

            .media {
                padding: 24px;
                position: relative;
                width: calc(100% - 48px);
                height: calc(100% - 48px);

                img {
                    width: calc(100% - 48px);
                    height: calc(100% - 48px);
                    object-fit: cover;
                    border-radius: 16px;
                    position: absolute;
                }

                .fusion-see-detail {
                    display: none;
                }

                &:hover {
                    .merged-image {
                        display: none;
                    }

                    .fusion-see-detail {
                        display: block;
                    }
                }
            }

            .fusion-see-detail {
                background: #292929;
                height: 100%;
                z-index: 3;
                position: relative;
            }

            button.see-points {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 28px;
                font-family: "Oxanium";
                font-style: normal;
                font-weight: 500;
                background-color: transparent;
                border: none;

                span {
                    color: #ffffff;
                    background-color: #292929;
                    border-radius: 8px 8px 0 0;
                    padding: 10px 21px;
                    font-size: 15px;
                    line-height: 160%;
                    letter-spacing: 1px;
                }

                svg {
                    position: absolute;

                    &:first-child {
                        left: -17px;
                        bottom: -6px;
                    }

                    &:last-child {
                        right: -17px;
                        bottom: -6px;
                    }
                }
            }
        }
    }
}

.fusion-controls {
    display: flex;
    margin-top: 24px;

    .tabs-set {
        width: calc(100% - 590px);
        margin-right: 24px;

        ul {
            display: flex;
            flex-wrap: wrap;

            li.option-tab-item {
                border-radius: 100px;
                background: #383838;
                display: inline-flex;
                align-items: center;
                padding: 4px 8px;
                margin-left: 24px;
                margin-bottom: 12px;

                label {
                    font-family: "Oxanium";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 160%;
                    letter-spacing: 1px;
                    color: #fff;
                    text-transform: capitalize;
                }

                button {
                    border: none;
                    background-color: transparent;
                    margin-left: 10px;
                    display: flex;
                    align-items: center;
                }

                &:last-child {
                    margin-left: 0;

                    button {
                        margin-left: 0;
                    }
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.16);
                }
            }
        }
    }

    .fusion-fuse {
        width: 566px;
        display: flex;
        align-items: center;

        .total-ammo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: "Oxanium";
            font-style: normal;
            padding: 12px 0;
            border-width: 1px 0px;
            border-style: dashed;
            border-color: rgba(255, 255, 255, 0.34);

            h5 {
                font-weight: 500;
                font-size: 17px;
                line-height: 143%;
                letter-spacing: 1px;
                color: rgba(255, 255, 255, 0.6);
            }

            p {
                font-weight: 600;
                font-size: 24px;
                line-height: 118%;
                letter-spacing: 1px;
                color: #ffffff;
            }
        }

        .fuse-group {
            button {
                font-family: "Oxanium";
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 160%;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #ffffff;
                padding: 12px 24px;
                border-radius: 16px;
                width: 125.5px;
                transition: all 0.3s;

                &.cancel {
                    border: 1px solid rgba(255, 255, 255, 0.34);
                    background-color: transparent;
                    margin-left: 16px;

                    &:hover {
                        background: rgba(255, 255, 255, 0.06);
                    }
                }

                &.fuse {
                    border: 1px solid #0059f7;
                    background-color: #0059f7;
                    margin-left: 12px;

                    &:hover {
                        box-shadow: 0px 2px 12px #0048c8;
                    }
                }
            }
        }
    }
}

.fusion-see-detail {
    .header-tabs {
        display: flex;
        padding: 8px;
        background-color: #1f1f1f;
        border-radius: 100px;

        .tab {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 160%;
            letter-spacing: 1px;
            text-transform: uppercase;
            width: calc(50%);
            text-align: center;
            color: #ffffff;
            border-radius: 100px;
            padding: 4px;
            cursor: pointer;

            &.active {
                background-color: rgba(255, 255, 255, 0.06);
            }
        }
    }

    .header-points {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0;
        margin: 4px 0;

        h2 {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 118%;
            letter-spacing: 1px;
            color: rgba(255, 255, 255, 0.16);
        }

        div {
            h3 {
                font-family: "Oxanium";
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 118%;
                letter-spacing: 1px;
                color: #fff;
                text-align: right;
            }

            p {
                font-family: "Oxanium";
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 165%;
                text-align: right;
                letter-spacing: 0.02em;
                color: #ffffff;
            }
        }
    }
}

.attr-table {
    .tr {
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.06);
        border-radius: 16px;
        margin-bottom: 4px;
    }

    .thead {
        .th {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 165%;
            letter-spacing: 0.02em;
            color: #ffffff;
            padding: 8px 16px;
            width: 33.3%;

            &:last-child {
                text-align: right;
            }
        }
    }

    .tbody {
        .tr {
            .td {
                padding: 8px 16px;
                font-family: "Oxanium";
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 160%;
                letter-spacing: 1px;
                color: #fff;
                width: 33.3%;
                text-transform: capitalize;

                &:first-child {
                    color: rgba(255, 255, 255, 0.6);
                }

                &:last-child {
                    text-align: right;
                }
            }
        }
    }

    &.changes {
        .td {
            color: #fff !important;
            white-space: nowrap;
        }

        .tr {
            border-radius: 0;
            background-color: transparent;

            .tr-content {
                background-color: rgba(255, 255, 255, 0.06);
                border-radius: 16px;
                display: flex;
                align-items: center;
                width: calc(100%);
                border: 1px solid rgba(255, 255, 255, 0.06);

                &.inc {
                    border-color: #4af497;
                }

                &.dec {
                    border-color: #ff453a;
                }
            }

            &.changes {
                background-color: rgba(255, 255, 255, 0.06);
                border-radius: 16px;
            }

            button.close {
                border: none;
                background-color: transparent;
                margin-left: 4px;
                display: none;
            }

            &:hover {
                .tr-content {
                    width: calc(100% - 24px);
                }

                button.close {
                    display: block;
                }
            }
        }
    }
}

.attribute-list .attr-table.changes .tr .tr-content {
    &:hover {
        width: 100%;
    }
}

.inc-title {
    color: #4af497 !important;
}

.dec-title {
    color: #ff453a !important;
}

.normal-title {
    color: #fff !important;
}

.empty-fusion-media {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    width: calc(100% - 96px) !important;
    height: calc(100% - 96px) !important;
    border-radius: 16px;
    margin: 24px;
    box-shadow: inset 0px 0px 18px rgba(0, 0, 0, 0.59);

    img {
        width: 100%;
    }
}

.fusion-store-cta {
    position: fixed;
    bottom: 172px;
    right: -96px;
    background-color: #0059f7;
    border-radius: 16px 0px 0px 16px;
    padding: 12px 24px 12px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
        font-family: "Oxanium";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 158%;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        margin-left: 12px;
    }

    transition: all 0.3s;

    &:hover {
        right: 0;
        transition: all 0.3s;
    }
}

.fusion-confirm {
    width: 342px;
    background-color: #383838;
    padding: 24px;

    .head {
        margin-bottom: 16px;

        h4 {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 118%;
            letter-spacing: 1px;
            color: #ffffff;
        }
    }

    .content {
        p {
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 143%;
            letter-spacing: 1px;
            color: #ffffff;
        }
    }
}

.confirm-checkbox {
    background-color: #292929;
    border-radius: 16px;
    padding: 8px 12px;

    input {
        display: none;
    }

    label {
        display: flex;
        align-items: center;

        span {
            margin-left: 15px;
            font-family: "Oxanium";
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 165%;
            letter-spacing: 0.02em;
            color: rgba(255, 255, 255, 0.6);
        }
    }
}
