$font-main: "Oxanium";
$font-second: "Oxanium";
$back-color: #1f1f1f;
$primary-color: #3c23cd;
$card-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.5);

* {
    font-family: $font-main;
}

$back-color: #1f1f1f;
$dark-color: #001f25;
$color-b3: #2f525a;
